body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1000px;
    margin: auto;
    flex: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#selection {
    width: 800px;
    height: 200px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    flex-shrink: 0;
    flex-wrap: wrap;
    /* border: 2px solid red; */
}

#scoreboard {
    border-radius: 30px;
    width: 500px;
    height: 240px;
    margin: auto;
    text-align: center;
    background-color: sandybrown;
    letter-spacing: 5px;
}

.items {
    border: 3px solid black;
    border-radius: 100px;
    background-color: coral;
    padding: 30px 32px;
    text-decoration: none;
    font-size: 32px;
    opacity: 0.6;
    transition: 0.3s;
}

.items:hover {
    opacity: 1;
}

#scoreboard h2:first-child {
    color: white;
    font-size: 32px;
    margin-top: 10px;
}

#header {
    width: 500px;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    padding: 30px 0;
    padding-bottom: 0;
}

#title {
    margin: 0;
    align-self: center;
    font-size: 32px;
    color: black;
}

img {
    width: 85px;
}

p {
    margin: 0 auto;
    margin-bottom: 30px;
    font-style: italic;
    font-size: 14px;
}