body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1000px;
    margin: auto;
    flex: 0;
    /* border: 2px solid red; */
}

#selection {
    background-color: grey;
    width: 500px;
    height: 200px;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    flex-shrink: 0;
    flex-wrap: wrap;
}

#scoreboard {
    border: 2px solid black;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    margin: auto;
    text-align: center;
    background-color: sandybrown;
}

.items {
    border: 2px solid black;
    background-color: coral;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
}

#scoreboard h2 {
    color: black;
    font-size: 32px;
    margin-top: 0;
}

#header {
    border: 10px double blueviolet;
    border-radius: 5px;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    /* background-color: seagreen; */
}

#title {
    margin: 0;
    align-self: center;
    font-size: 35px;
    color: blueviolet;
}

#heading2 {
    margin: 30px auto auto auto;
    font-size: 50px;
}

img {
    width: 85px;
    /* border: 2px solid red; */
}